{% extends 'base.html.twig' %}

{% block main %}
    <h1>About Us!</h1>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        dignissimos dolor, eius enim laboriosam necessitatibus quae sit ullam.
        Aliquid cupiditate dicta doloribus illo ipsam iusto nihil, quisquam quod
        similique voluptate!</span><span>Aliquam aliquid commodi culpa, delectus
        facere incidunt ipsa ipsam ipsum iste, magnam mollitia necessitatibus neque,
        odio placeat qui rem sed vero voluptatum. Dolores eligendi, eos fugiat illum
        labore nulla vel.</span><span>Corporis culpa eum mollitia nostrum voluptatum?
        Alias aliquid amet assumenda beatae commodi consectetur deserunt ducimus est
        et eum fuga id inventore ipsam maiores modi mollitia, obcaecati pariatur quia s
        aepe suscipit.</span><span>Ab ad aliquid, aperiam asperiores corporis deleniti
        eaque error et explicabo ipsum laboriosam laudantium minus nam neque
        nostrum qui, quo quos ratione sunt tempora unde vero voluptates!
        Doloremque, recusandae, totam.</span><span>Doloremque, quas sint.
        Alias ducimus impedit obcaecati officia suscipit! Aliquam consequatur
        cum deserunt eligendi exercitationem illum, iusto minus molestias nemo
        nulla obcaecati ratione
        reprehenderit repudiandae sed similique, sunt tempore voluptatibus?</span></p>
{% endblock %}
